a {
  text-decoration: none;
  color: #222222;
}

input {
  outline: none;
  overflow: hidden;
  border: none;
}

button {
  outline: none;
  overflow: hidden;
  border: none;
}

select {
  outline: none;
  overflow: hidden;
  border: none;
}

li {
  list-style-type: none;
}